{% extends 'core/base.html' %}
{% load static %}
{% block content %}
	<section class="ptb-0">
		<div class="mb-30 brdr-ash-1 opacty-5"></div>
		<div class="container">
			<a class="mt-10" href="index.html"><i class="mr-5 ion-ios-home"></i>Home<i class="mlr-10 ion-chevron-right"></i></a>
			<a class="mt-10" href="04_FAQs.html">FAQs<i class="mlr-10 ion-chevron-right"></i></a>
			<a class="color-ash mt-10" href="04_FAQs-single.html">{{ faq.title }}</a>
		</div><!-- container -->
	</section>
	
	
	<section>
		<div class="container">
			<h2 class="mb-50"><b>FAQs</b></h2>
			<h4><b>{{ faq.title }}</b></h4>
			
			<p class="pt-30">{{ faq.text }}</p>
						
		</div><!-- container -->
	</section>
	
{% endblock %}
